[2019-07-30 08:56] altexy commented on #341
@ldeveloperl1985 can you, please, provide more context about use case?

[2019-07-30 09:17] ldeveloperl1985 commented on #341
@altexy
It goes for a refresh token after successful get `get_access_token_by_refresh_token`, it re-set(update) the session but then it going for auth flow again which is wrong. it should not go for auth flow again.
Please check the `basic` test case https://github.com/GluuFederation/gluu-gateway/blob/version_4.0/t/specs/gluu-openid-connect/test_spec.lua#L177
it is failing here https://github.com/

[2019-07-30 09:18] altexy commented on #341
@ldeveloperl1985 thanks, will figure it out asap

[2019-07-30 10:54] ldeveloperl1985 commented on #339
Done

[2019-07-30 10:54] #339 closed

[2019-07-30 13:34] ldeveloperl1985 opened #342 "Update Grafana configuration and make reports"
1. Update the Grafana configuration for the customer who can setup Grafana and config to show the transactions.
2. Make a more informative report to calculate and show total transactions per month on the license server.

[2019-07-30 13:35] ldeveloperl1985 opened #343 "Upgrade process for GG 1.0 to GG 4.0"

[2019-08-01 11:01] ldeveloperl1985 opened #345 "URL based Stepped up authentication in OIDC plugin"
Add feature in the OIDC plugin that enables stepped up authentication based on URL (resource), e.g.:

1. `site.com/account_info` –> prompt=login acr=basic
2. `site.com/wire_transfer` –> prompt=login acr=super_gluu

[2019-08-01 11:26] altexy commented on #345
We may use our wildcard/regexp notation for path matching.

[2019-08-01 11:35] altexy commented on #345
We may implement this feature in some days, maybe add it into 4.0 milestone?

[2019-08-01 11:35] altexy commented on #345
@ldeveloperl1985 @nynymike @willow9886

[2019-08-01 11:43] ldeveloperl1985 commented on #345
It will take me around 2-3 days.

[2019-08-01 11:50] willow9886 commented on #345
Seems reasonable.. I would include it in 4.0 then.

[2019-08-02 11:42] ldeveloperl1985 opened #346 "Update setup script to check the root user"
If the user is root then allow to setup GG otherwise exit.

[2019-08-05 07:39] ldeveloperl1985 commented on #341
Done

[2019-08-05 07:39] #341 closed

[2019-08-05 08:36] ldeveloperl1985 commented on #345
@willow9886 do you think we need to add the HttpMethod filter also in this case? @altexy wanted to add HttpMethod also.

For example:
1.`site.com/account_info` `GET` –> prompt=login acr=basic
2. `site.com/wire_transfer` `GET` –> prompt=login acr=super_gluu
3. `site.com/wire_transfer` `POST` –> prompt=login acr=basic
4. `site.com/wire_transfer` `?` –> prompt=login acr=basic

Note: `?` wildcard, all

[2019-08-05 08:47] willow9886 commented on #345
@ldeveloperl1985 yes, definitely.

[2019-08-05 10:16] altexy opened #347 "Unescaped space character in a URI - possible security vulnerabilities"
Most of the web servers would ignore the URI suffix after unescaped whitespace character.

We use `ngx.var.uri` to obtain the normalized path.
Normalized means that any relative path are resolved and query parameters removed.

But `ngx.var.uri` would return all chars after unescaped space also and our matching code may fail.
In the worst key, we may wrongly provide access to a protected resource.

[2019-08-05 10:24] ldeveloperl1985 commented on #347
@altexy could you please describe with examples?

[2019-08-05 10:31] altexy commented on #347
Suppose we have the protected path `/command1`
If an attacker issues HTTP request with request line `POST /command1 bla HTTP/1.1` our code doesn't match the request.

I know this is incorrectly formed HTTP request, but it is very simple to reproduce it with curl, for example.

[2019-08-07 10:22] ldeveloperl1985 opened #349 "Design GG UI for URL based Stepped up authentication feature in OIDC plugin"

[2019-08-07 11:19] ldeveloperl1985 commented on #349
Designed form screenshots, @altexy  please let me know if you wanna change anything
![oidc-full1](https://user-images.githubusercontent.com/2329776/62618994-44c8ed00-b933-11e9-997e-c3b18a64005e.png)

[2019-08-09 10:27] altexy commented on #349
"required acrs" is used in the same way as `/??` for path and `/?` for methods.
IMO we should avoid one of them. What can we do:
1. Remove "required arcs" at all. Possibly we may precreate such expression in UI, maybe make it mandatory.

2. Don't allow any path and any methods expression in UI and leave "required acrs" as is.

I would vote for the first approach.
But the current "required arcs" li

[2019-08-09 12:34] ldeveloperl1985 commented on #349
Sure, I'll do the first approach

Yes, sure, I'll add checkbox selection in acr expression

[2019-08-09 13:03] ldeveloperl1985 commented on #349
@altexy you want like in below screenshot, right? please confirm.
![Screenshot (8)](https://user-images.githubusercontent.com/2329776/62780732-fd2d9700-bad3-11e9-83e7-5a39077010af.png)

[2019-08-09 14:18] altexy commented on #349
yes, look correct.

At the moment if we select more then one ACR - it means anyone from selected.
We plan to support multiple id_tokens in user session soon.
But the semantic will be the same - anyone from selected, isn't it?

The main purpose for multiple id_tokens in user session is to avoid re-authentication while surfing different paths with different required acrs.

[2019-08-09 16:55] nynymike commented on #349
Yes, multiple id_tokens could happen during re-authn. However, it might only be necessary to keep the most current id_token, with the highest authn_level. As long as the authn level is exceeded, we don't need an exact string match on the mechanism.

[2019-08-12 08:09] altexy commented on #349
At the moment the acrs levels are displayed only for information purpose.
We may add level-related semantic, but it is a major change and it should be discussed carefully to avoid any misunderstanding.

With the current approach (requiring one of the listed acrs) I will explain the problem we have.
Suppose we require `basic` acr for the whole site.
User opens the site, redirected to OP, authentica

[2019-08-12 08:54] willow9886 commented on #349
@altexy agreed, acr_levels is definitely the preferred approach.

[2019-08-12 10:00] ldeveloperl1985 commented on #349
@altexy
What happens when a user registers the path as below? Just in case, user register multiple acr for one of the path
[code]
As my expectation, when user request for path `/addticket`
1. redirected to op
2. basic auth
3. allow access

when user request for path `/payment`
1. redirect to op
2. u2f auth because u2f auth level is higher and ignores OTP
3. allow access

when the user again reques

[2019-08-12 10:11] altexy commented on #349
@ldeveloperl1985 using acr-levels approach we will not need multiple id_tokens.
GG will need to be aware about acr->level mapping and allow access if user has an acr with higher or the same (?) level.

**But IMO it violates the OpenID Connect spec.** @willow9886 @nynymike

Maybe we give an admin the choice?
`multiple_id_tokens` - boolean, default `true`
`acr_level_auth` - - boolean, default `false

[2019-08-12 10:38] ldeveloperl1985 commented on #349
[code]

In the third case we need previous id_token acr, right?

[2019-08-12 10:44] ldeveloperl1985 opened #351 "Install and setup ca-certificates for GG 4.0 package"

[2019-08-12 10:45] altexy commented on #349
GS may use ANY acr at the moment

With the current approach - yes.

[2019-08-12 11:43] ldeveloperl1985 commented on #349
Ok, my vote is to `acr_levels` approach. the configuration option is also best

[2019-08-12 21:27] ryanwilliamnicholls opened #352 "HTTP Calls in setup script not respecting proxies"
The http calls done during the setup of gluu gateway don't respect any proxies that are set on the machine. This can cause the script to fail if setup behind a corporate proxy.

I was able to fix this behind our corporate proxy by hardcoding the proxies in into the requests.post and requests.get calls in the script, but these should be taken from the systems proxy settings.

[2019-08-13 08:20] ldeveloperl1985 commented on #346
Done

[2019-08-13 08:20] #346 closed

[2019-08-13 12:47] willow9886 commented on #352
OK, thanks for the note. I assume this is version 4.0 beta? We'll take a look.

BTW, which customer account is this associated with? We typically prefer to see customer issues opened via the [Gluu Support portal](https://support.gluu.org) so we can gather appropriate details about the environment for troubleshooting.

Thanks.

[2019-08-14 12:12] altexy commented on #351
We need also to add `lua_ssl_trusted_certificate` to kong.conf.

The certificate location may differ between Linux distributions.

For debian Linuxes:
`lua_ssl_trusted_certificate "/etc/ssl/certs/ca-certificates.crt";`

FIXME: CentOS/RHEL the cert location is different, the CA bundle location may be located at /etc/pki/tls/certs/ca-bundle.crt.

Also, it may be a good idea to increase `lua_ssl_veri

[2019-08-16 10:29] ldeveloperl1985 commented on #351
Updated the setup script, kong configuration for
- **Ubuntu16**: `lua_ssl_trusted_certificate = /etc/ssl/certs/ca-certificates.crt`
- **REHL7** and **CENTOS7**: `lua_ssl_trusted_certificate = /etc/ssl/certs/ca-bundle.crt` - @altexy I've tested and it is working, the path for REHL7 and CENTOS7 is `/etc/ssl/certs/ca-bundle.crt`

@altexy  I've setup `lua_ssl_verify_depth = 3` and it is working well.

[2019-08-19 08:17] altexy commented on #352
@ldeveloperl1985 our plugins Lua code also should be modified in order to support http/https proxies.
I may take care of this part. Possibly by separate ticket.

[2019-08-19 08:31] ldeveloperl1985 commented on #352
@altexy I don't have experience with corporate proxy things. could you please share some details what you will do with Lua code so that I'll get the idea to deal with GET|POST request in python script in the corporate proxy case

[2019-08-19 08:55] altexy commented on #352
Kong ships with https://github.com/pintsized/lua-resty-http included (version 0.12 I think).
It has support for HTTP/HTTPS proxies. We just need to set appropriate config options.
https://github.com/ledgetech/lua-resty-http#set_proxy_options

https://justintung.com/2013/04/25/how-to-configure-proxy-settings-in-linux/
Above is the first result from Google ;-)
As you can see there is no one standard

[2019-08-19 09:25] altexy commented on #352
There are some aspects of the problem:
1. Ability to get proxy setting of current Linux box.
But, IMO, the ability to manually specify such settings may be enough.

2. How to do it technically in Lua, NodeJS, whatever we use.
I may do in Lua code, NodeJS should have similar setting, etc.

[2019-08-19 10:06] ldeveloperl1985 commented on #352
@altexy  Yes, it should be for the Internet but as @ryanwilliamnicholls mention above

Currently, Python script calling two things
1. Kong API for metrics config (all GET calls are to Kong API)
2. Gluu Customer Registration endpoint (POST calls)

so why @ryanwilliamnicholls is facing this problem even if it is in local(GET Calls). @ryanwilliamnicholls could you please tell us where you get this pr

[2019-08-19 21:38] ryanwilliamnicholls commented on #352
In my case, the main issue was when the setup python script tried to make post calls to the gluu customer registration endpoint. I fixed the issue by adding a hard coded dictionary of my proxy addresses to the requests.post call in the script, e.g:
[code]

I added the proxies to the get calls as well as they weren't hitting the proxy and i was unsure at the time if the script made any external GET

[2019-08-20 08:52] altexy commented on #347
Sorry, the code is still not merged

[2019-08-20 09:26] ldeveloperl1985 commented on #352
@ryanwilliamnicholls  Yes, please opening issue in support portal and add this issue reference and thank you for providing information. we will discuss more on the support portal if any need occurs.

[2019-08-22 08:17] ldeveloperl1985 commented on #352
our Python script is using the `request` python module and this module by default respecting the proxies. @ryanwilliamnicholls  you just need to export or set `HTTP_PROXY` and `HTTPS_PROXY` env vars. we tested and it is working.

[2019-08-22 08:24] ryanwilliamnicholls commented on #352
I had both those environment variables set and it didn't pick it up, weird. Might be some quirk of the module.

[2019-08-22 08:26] ldeveloperl1985 commented on #352
Check python docs here https://2.python-requests.org/en/master/user/advanced/#proxies

[code]

[2019-08-22 10:23] ldeveloperl1985 commented on #351
Done, Tested new GG Package, OS: Ubuntu 16 and CentOS7

[2019-08-22 10:23] #351 closed

[2019-08-22 22:08] ryanwilliamnicholls commented on #352
The issue was the scripts didn't have permissions to write to their log files when run as the default user, so i ran them using sudo. The proxy variables weren't set when running through sudo.

[2019-08-22 22:08] #352 closed

[2019-08-26 10:25] ldeveloperl1985 opened #353 "`method_path_tree` field update problem"
The plugin should unset `method_path_tree` when we unset `required_acrs_expression: null` in update case, otherwise it still stepped up auth as per old acr expression

[2019-08-26 10:31] ldeveloperl1985 opened #354 "Update plugin code about OXD get_authorization_url function custom params"
Currently, we are concating `max_age` param with `authorization_url` in plugin code. we need to use latest oxd facility to do this.
oxd docs : https://gluu.org/docs/oxd/4.0/api/#get-authorization-url

[2019-08-26 11:05] #345 closed

[2019-08-26 11:05] #347 closed

[2019-08-27 08:31] ldeveloperl1985 opened #355 "OIDC Auth failing after update the ACR"
Reproduce:
1. Configure acr expression with only one path
for example:
[code]
2. request to any other resources example `/todos` except `/users/`
3. request to `/users/`, it is working here
4. Now update the acr to `OTP` and request to `/users`, here is throwing error
[code]

Please check logs
[error.log](https://github.com/GluuFederation/gluu-gateway/files/3545050/error.log)

[2019-08-28 07:29] #355 closed

[2019-08-29 07:47] #353 closed

[2019-08-29 08:10] ldeveloperl1985 commented on #349
@altexy Below is the UI to configure acr_expression, please check and let me know if you have any suggestions and change. Updated docs are here https://github.com/GluuFederation/docs-gg-prod/blob/update_oidc/docs/source/plugin/gluu-openid-connect-uma-pep.md#configure-plugin-using-gg-ui
![oidc4](https://user-images.githubusercontent.com/2329776/63922188-d83c9c00-ca61-11e9-9537-e8e1445e0f93.png)
![o

[2019-08-29 11:56] #354 closed

[2019-09-02 07:19] ldeveloperl1985 commented on #349
Done

[2019-09-02 07:19] #349 closed

[2019-09-03 15:54] altexy opened #359 "Konga with Kong 1.3"
Need to research:
- it is possible
- ETA

[2019-09-03 16:01] altexy commented on #359
https://github.com/pantsel/konga#compatibility

My experience with Kong 1.x shows very good version compatibility.

[2019-09-03 16:54] altexy opened #360 "Convert plugins to Kong 1.3"

[2019-09-04 11:26] ldeveloperl1985 commented on #359
I've checked the Kong changelog from >= 0.15, the estimation is as given below.

## GG Admin UI Estimate
1. All gluu plugins configuration - need to pass a string instead of JSON
2. Kong Upstreams, Targets configurations https://github.com/Kong/kong/blob/master/CHANGELOG.md#admin-api-7
3. Tags update the every kong object(Services, Routes, plugin, ...) configuration - https://github.com/Kong/kong/

[2019-09-04 11:30] ldeveloperl1985 commented on #359
so, please suggest @altexy @willow9886 , do we want to add it to **GG 4.0**? or in a **future release**?

[2019-09-04 11:31] willow9886 commented on #359
GG 4.0 @ldeveloperl1985

[2019-09-04 11:37] ldeveloperl1985 commented on #359
Okay, Thank you, William, I'll start work on it and try to finish ASAP.

[2019-09-10 10:59] ldeveloperl1985 commented on #310
I think kong header filter feature is covered this issue https://docs.konghq.com/1.3.x/proxy/#request-headers-except-host
@altexy  Please check  and confirm

[2019-09-10 11:02] ldeveloperl1985 commented on #318
During Kong 1.3 changelog review, I found one point. I think kong db import feature has covered this issue
https://github.com/Kong/kong/blob/master/CHANGELOG.md#cli-3
https://docs.konghq.com/1.3.x/cli/#kong-config

@altexy please check and confirm

[2019-09-10 11:10] ldeveloperl1985 commented on #360
@altexy I've almost done all changes from UI side. If you did all the changes on plugin code then please make PR and let's merge this code in **version_4.0**.

One thing is missing from `schema.lua` is
[code]

[2019-09-10 13:39] altexy commented on #318
IMO Kong db import is irrelevant to the issue.

[2019-09-10 13:41] altexy commented on #310
Agree, Kong 1.3 does support header-based routing

[2019-09-11 11:10] #360 closed

[2019-09-11 11:22] ldeveloperl1985 opened #363 "Make a new GG 4.0 package with latest Kong 1.3"
@nikdavnik  use branch [**version_4.0**](https://github.com/GluuFederation/gluu-gateway/tree/version_4.0)

[2019-09-16 10:08] ldeveloperl1985 commented on #363
For info,
Kong repo is not returning the correct version of kong 1.3.0, so we are adding a kong 1.3.0 package in the GG 4.0 package and it will install during setup.py.

[code]

[2019-09-16 10:20] ldeveloperl1985 commented on #363
@nikdavnik setup script is updated, please build a new package

[2019-09-16 19:12] nikdavnik commented on #363
packages are ready

[2019-09-17 10:06] ldeveloperl1985 commented on #363
Tested in Ub16 and CentOS7, it is working well.

[2019-09-17 10:06] #363 closed

[2019-09-17 11:58] ldeveloperl1985 commented on #359
Tested Konga UI and plugins with the latest GG package, all the things working good. All the test cases passed successful, [Check here for Test case report](https://github.com/GluuFederation/gluu-gateway/wiki/Testing).

Note: Currently working on GG docs.

[2019-09-23 09:41] ldeveloperl1985 opened #364 "Make a GG 4.0 package for Ubuntu 18.04 bionic and update setup script"

[2019-09-23 20:14] nikdavnik commented on #364
ubuntu18 package is ready

[2019-09-24 10:53] ldeveloperl1985 commented on #364
@nikdavnik failed to start services, please check, it throwing following errors
[code]

[2019-09-24 22:18] nikdavnik commented on #364
@ldeveloperl1985 prepared new ubuntu18 package
please use systemctl command to start / stop gg in ubuntu18 as 18 is systemctl not init.d

systemctl start gluu-gateway
systemctl stop gluu-gateway

[2019-09-25 07:35] ldeveloperl1985 commented on #364
Ok I tested the new build but services still not working, now there are two problems
1. `gluu-gateway` not stopping oxd-server service
[code]

2. Konga service failed to start because of node executable path is wrong. below are the log in konga.log
[code]

    node path is
[code]
    @nikdavnik you need to update the konga.service to update it which this node path.

[2019-09-26 09:55] ldeveloperl1985 commented on #364
Tested the latest build and now it is working well!

[2019-09-26 09:55] #364 closed

[2019-10-07 11:23] ldeveloperl1985 commented on #359
Done. Docs updated https://gluu.org/docs/gg

[2019-10-07 11:23] #359 closed

[2019-10-23 07:52] altexy opened #365 "GG Lua deps and plugins archive"
Stock github release doesn't includes submodules, we decided to create a script which:
1. get current folder (to be current folder agnostic)
2. cd to root git repo folder
3. update all submodules
4. copy all required Lua files into an archive, need folder/filename convention
5. git commit the archive

[2019-10-23 07:56] altexy opened #366 "No-ops pluign"
Alexander Altshuler
gluu staff
10:06 AM
in Dockefile we change variable, which in turn change the conf

looking at Megs response it looks like bundled in plugins variable doesn’t work without stock authentication plugins

https://docs.konghq.com/1.3.x/configuration/#plugins

docs.konghq.com
Open-Source API Management and Microservice Management
Secure, Manage & Extend your APIs or Microservices wi

[2019-10-23 07:56] ldeveloperl1985 opened #367 "GG cluster setup"
Make one zip which has all our plugins, third-party libs, and one setup script so to setup kong cluster setup like below
1. User will install kong from official kong website
2. They need to download our zip, it will have our plugins, third-party libs, and kong-setup.py
3. extract the zip
4. run the `gg-kong-setup.py` :- this script will ask the DB host and password, configure the kong.conf, instal

[2019-10-23 12:34] #366 closed

[2019-10-24 06:58] altexy commented on #365
Hi @ldeveloperl1985

Some ideas for future enhancement:
1. Copy only Lua files to the archive (for Lua deps particular, `third-patry`)
2. Create makefile for conditionally build, will need to specify all files we depend.
Interesting task - depend from git submodules. Makefile should be able to detect submodules changes.

[2019-10-24 07:20] ldeveloperl1985 commented on #365
Ok, changed the milestone 4.0 to 4.0

[2019-10-24 13:23] ldeveloperl1985 commented on #367
Done
Docs updated please check https://gluu.org/docs/gg/clustering/

[2019-10-24 13:23] #367 closed

[2019-10-24 14:07] altexy commented on #367
The cluster docs should be proof read, I see some issues here.
@ldeveloperl1985 How I can push my suggestions?

[2019-10-24 14:09] ldeveloperl1985 commented on #367
@altexy  Please clone repo https://github.com/GluuFederation/docs-gg-prod/tree/4.0 and push your fixes

[2019-10-24 14:17] ldeveloperl1985 commented on #367
All the content in `source` folder here https://github.com/GluuFederation/docs-gg-prod/tree/4.0/docs/source. it is mkdocs. you can install it https://www.mkdocs.org/#installation and run on local so that you can see UI in your local machine.
[code]

[2019-10-25 03:05] nynymike opened #370 "OpenID plugin configuration for UMA access control: Push UserInfo token"
We need to send the Gluu Server more information in order to make useful policies in the Gluu Server.

1. It should be possible to push the Userinfo JWT too, because that has the user claims. The `id_token` doesn't have the user claims (just the authentication event details).
2. We should send the HTTP request object because it has info like what kind of browser it is, and the original remote ip a

[2019-10-25 03:47] nynymike opened #371 "OpenID Plugin: allow max_sessions"
Some customers would like to limit the number of sessions a person can have active.

For example, consider this use case:

1.  User navigates to website with Browser 1 (session 1)
2.  User navigates to website with Browser 2 (session 2)
3.  GG prompts user: Do you want to terminate Session 1?
4.  GG performs back-channel logout of session 1

[2019-10-25 06:24] altexy commented on #370
@nynymike
Here is API link https://gluu.org/docs/oxd/4.0/api/#operations-developers-uma-rp-get-rpt
By `/uma-rp-get-rpt` oxd endpoint we may push claim token.

As I know at the moment GS support only  one  `claim_token_format` : `http://openid.net/specs/openid-connect-core-1_0.html#IDToken`

Would it require some changes on GS side also?

[2019-10-25 06:48] altexy commented on #371
@nynymike
To implement this feature we need shared storage like Redis.
It would be harder to support/deploy GG, similar to true rate-limiting.

Also not sure what we may use for back-channel logout:
https://gluu.org/docs/oxd/4.0/api/#get-logout-uri

[2019-10-25 08:13] nynymike commented on #370
The Gluu Server doesn't care what is the claim token format. That's informational for the policy.

[2019-10-25 08:14] nynymike commented on #371
This feature is a placeholder. I don't want to implment it right away. Agreed that we'd need a shared cache. Also, Gluu Server doesn't support back channel logout today.

[2019-10-25 08:21] nynymike opened #373 "Map Userinfo and id_token claims to HTTP headers"
GG admins should be able to map distinct HTTP headers to claims in the id_token and Userinfo JWT.  The admin should be able to set the name of the HTTP header.  The value of the header should be string if it's single value, and a JSON array if it's multi-value.  If no claim is present in the token, omit the header.

This feature is needed to maintain behavior with legacy WAM platforms.

[2019-10-30 10:27] altexy commented on #373
Here is original Mike's wireframe:
https://raw.githubusercontent.com/GluuFederation/gluu-gateway/master/kong-openid-rp/doc/konga-openid-wireframe.png

@nynymike
Should we map ALL claims in a token (id_token, userinfo) to a distinct header?
Or customer should be able to specify claims of interest?

[2019-10-31 11:04] nynymike commented on #373
Yes it would simplest to iterate through the claims. It would also be nice if you could provide a way to do a claims mapping. In the mapping, I think using `HTTP_KONG_` ia a mistake. If a legacy application is expecting `HTTP_SM_uid` if we can provide the same header, the app need not be upgraded. So perhaps we could also provide a tool where additional claims could be added. For example, map the

[2019-11-01 14:10] altexy commented on #373
Proposed schema:
[code]

`header_name` - self-documented, may contain embedded placeholder when we iterate thru claims, take a look at `iterate` field below
`value` - the Lua expression, define the value in the environment, for example `userinfo.email`
For OpenID Connect use case the environment is populated with 2 root values `id_token` and `user_info`.
`format` - the format used to encode the va

[2019-11-01 14:40] ldeveloperl1985 commented on #373
Ok, so admin should have to use `userinfo` and `id_token` during configurations for populating the values, right?

[2019-11-01 14:46] altexy commented on #373
No, we will document, which values are set in the environment.
As I wrote, for gluu-openid-connect plugin the environment will consist of 2 root objects `id_token` and `userinfo`.
Our plugin will use the config and the environment to form the headers.

[2019-11-06 09:25] ldeveloperl1985 opened #376 "Update setup scipt to remove daos.lua for safe kong db migration"

[2019-11-06 11:15] ldeveloperl1985 commented on #376
Done

[2019-11-06 11:15] #376 closed

[2019-11-07 08:27] altexy opened #377 "Refactor test suite to use GG Docker image"
In our test suite, we use the official Kong Docker image and mount all required deps, plugins, etc into GG container.

Recently started some efforts to support official GG Docker image https://github.com/GluuFederation/https://github.com/GluuFederation/docker-gg

After some discussion with container team we decided next approach:
1. We will include docker-gg as git submodule in GG repo. It will al

[2019-11-07 08:53] altexy commented on #377
Another good point for big test suite refactoring is DB-less declarative configuration, which made possible when we bumped up Kong version to 1.3

Declarative config is self-documented, much simpler to implement for developers.
Pros:
- simplify our test suite code a lot
- time to run full test suite should be reduced significantly (30min -> 5 min, my rough estimation)

We still need some tests wit

[2019-11-11 10:08] ldeveloperl1985 commented on #365
Done

[2019-11-11 10:08] #365 closed

[2019-11-11 12:28] altexy opened #379 "Make Oauth2 client Kong consumer mapping optional"

[2019-11-11 13:31] #379 closed

[2019-11-13 11:10] ldeveloperl1985 commented on #373
@nynymike can we map **access_token** into **HTTP Headers**? Just a question in my mind bit not sure whether it is a useful enhancement or not.

[2019-11-14 10:57] ldeveloperl1985 opened #381 "Add Custom header map configuration for OAuth and UMA plugins as well"
Use the same technique which we are using for `gluu-openid-connect` plugin https://github.com/GluuFederation/gluu-gateway/issues/373

[2019-11-15 19:34] nynymike commented on #373
It would be nice if we can send the access token, but it should be off by default.

[2019-11-18 07:11] ldeveloperl1985 opened #382 "Map access_token to HTTP header in OIDC plugin, Default: off"

[2019-11-18 07:12] ldeveloperl1985 commented on #373
Ok, Created another issue for it https://github.com/GluuFederation/gluu-gateway/issues/382

[2019-11-18 07:12] #373 closed

[2019-11-20 16:09] altexy opened #384 "gluu-metrics gluu_prometheus_server_host DNS resolution and architectural issues"
gluu-metrics plugins periodically resolve `gluu_prometheus_server_host` and update `ip_restrict_plugin_id` configuration.

It may be an issue for declarative db-less Kong deployment, because we need to update the whole node config for db-less case.

Also, it is not clear for me how we test this procedure in our test suite.

Are there any docs about how gluu-metrics plugin should interact with Prom

[2019-11-21 07:29] ldeveloperl1985 commented on #384
here is the docs for gluu-metrics plugin configurations, parameters details, and setup with Prometheus server

[2019-11-21 08:06] ldeveloperl1985 opened #385 "One service start/stop other services"
One service starting or stopping other services. Facing this issue in CentOS and REHL7.

Expected Behaviour:
`konga` service should only start konga UI. `kong` service should only stop/start kong.

Actual Behaviour:
`konga` service starting UI as well as starting `kong` also. `kong` service starting/stopping kong as well as starting/stopping OXD/DB/KongaUI

[2019-11-21 12:48] altexy commented on #384
IMO we should make
`ip_restrict_plugin_id`, `gluu_prometheus_server_host` parameters of `gluu-metrics` plugin optional.
And don't do any DNS resolution, ip_restriction reconfiguration if they are not provided.

It allows an admin to configure gluu-metrics in db-less mode.
But access to the metrics endpoints from outside world still needs to be opened by others means.

[2019-11-25 09:54] ldeveloperl1985 opened #386 "GG UI: Wrong hostname shows in update of OIDC plugin configurations"
The wrong hostname shows at the time of update in OIDC plugin configuration for login and logout redirect URLs.

Expected behavior:
It should show the correct hostname if host is missing from the routes object.

Actual behavior:
 When we were not set hosts in routes, UI shows the wrong hostname for login and logout redirect URLs for OIDC plugin.
Example: If you set `www.example.com` then UI shows

[2019-11-26 14:19] nikdavnik commented on #385
kong is requrement for konga service, seems konga can not start is kong is not running.
thats why when you stop one another is also being stopped.

[2019-11-26 14:35] ldeveloperl1985 commented on #385
I think, remove this dependency for every individual service, In case if a user wants to start/stop every services, they have a `gluu-gateway` service.

[2019-11-26 15:48] nikdavnik commented on #385
@ldeveloperl1985 can konga run when kong and oxd-server are down?

[2019-11-27 06:41] ldeveloperl1985 commented on #385
@nikdavnik yes konga runs, it will throw error message to check oxd server so it is ok to remove services dependency. For whole services start/stop we have `gluu-gateway` service.

[2019-12-04 12:15] #377 closed

[2019-12-04 12:53] altexy opened #389 "Migrate Konga part to gluu-gateway-ui repository"
We need to move the history of `master` and `version_4.1` branches to new repo.

IMO we need to test the proposed sequence below on a test git repo:
[code]
IMO we don't need to migrate tags.

After successful migration we should remove unnecessary files from both repos.
Then the issue may be closed.

[2019-12-05 10:39] altexy opened #390 "Maintain access_token in user session, gluu-openid-connect"
We want to populate the custom header environment with access_token value.
At the moment we don't save access_token in user session, because we need it only to get user_info.

[2019-12-05 10:59] #310 closed

[2019-12-05 14:13] altexy commented on #389
@ldeveloperl1985 I have moved `master` and `version_4.1` branches to new git repo.

Is all you need for UI part is within `Konga` folder?
If yes, does it make sense to remove single top level `Konga` folder?

Can you start working on this repo from the moment?
I want to remove Konga part from GG repo asap.

[2019-12-05 15:49] ldeveloperl1985 commented on #389
@altexy

If yes, does it make sense to remove single top level Konga folder?

Yes, all the thing is in the Konga folder. Yes, remove it.

I want to remove Konga part from GG repo asap.

Yes you can remove Konga from `gluu-gateway` repo

[2019-12-09 10:49] altexy opened #392 "Refactor Lua code folder structure"
The best practice in OpenResty ecosystem is to place the project's Lua code into the `lib` folder.
Inside the `lib` folder, all code should be organized in the same way as would be installed on the target system.

The benefits for our use cases:
- don't need for source-build step, which requires some support efforts, commits, etc.
- we may use svn client to download a folder of the given branch wi

[2019-12-09 10:56] altexy commented on #392
The open question is how to download third-party Lua deps.

[2019-12-09 16:07] altexy opened #393 "Farther GG repo decomposition"
@ldeveloperl1985 we need to discuss the subj.

IMO, the next components are a logically separate components:
- `setup`/`debian`/`rpmbuild`
- `gg_demo`
- `gluu_flask_demo`
- `license-registration` (is it actual?)

For every component above we need the decisions:
1. Actual?
2. Move to separate git repo?
3. Save git history? (forking the whole repo is expensive)
4. Require fixes while moving to separ

[2019-12-10 15:10] ldeveloperl1985 commented on #393
@altexy

----------------------------------------------------------------------

let's move below folders in **gluu-gateway-setup** repo and remove from **gluu-gateway** repo.
[code]

-----------------------------------------------------------------

Yes lets' remove these folders

---------------------------------------------------------------------

I think nothing is important, we have separate

[2019-12-11 13:54] #381 closed

[2019-12-11 13:54] #390 closed

[2019-12-11 13:54] #392 closed

[2019-12-11 13:54] #393 closed

[2019-12-11 16:05] #389 closed

[2019-12-11 16:11] altexy commented on #384
Alexander Altshuler gluu staff 17:20
For cluster use case the problem is more complicated:
usually nodes added/removed from a cluster as needed
it is dynamic process
it would be very difficult, or even impossible to configure prometheus server to get all metrics from a cluster’s nodes

nynymike Michael Schwartz admin owner gluu staff 22:34
**ok, then the solution needs to be re-evaluated.
I would

[2019-12-11 16:11] #384 closed

[2019-12-11 16:15] #273 closed

[2019-12-11 16:39] altexy opened #395 "GG cluster architecture"
It is the root ticket for any cluster related issues, design ideas, perf tests, etc.

From rocket chat:
[code]

[2019-12-11 16:46] altexy commented on #382
implemented in #390

[2019-12-11 16:46] #382 closed

[2019-12-11 16:48] #343 closed

[2019-12-11 16:52] altexy opened #396 "write a script to run our test suite against an image from Dockerhub"

[2019-12-11 17:12] altexy opened #397 "Update OS packages internals for new git repos disposition and Lua code organizaton"
@ldeveloperl1985, please take care about the topic

[2019-12-11 17:14] altexy opened #398 "Bump Kong version to 1.4"
The naive test shows that here something more than just bump version in some places.

Particular - upon bad declarative configuration, the behavior is changed.
Need some research here.

[2019-12-13 08:45] altexy opened #400 "inactive oxd access token"
[code]

Logs above show that access token is expired, but there is not oxd logs for getting new oxd access token - by refresh token or client credentials.

IMO it may be only because of `access_token_data.refresh_pending` logic error.

[2019-12-13 12:32] #396 closed

[2019-12-16 09:30] #400 closed

[2019-12-16 10:02] ldeveloperl1985 opened #402 "Update submodule oxd-web-lua"

[2019-12-16 15:02] #402 closed

[2019-12-19 15:13] altexy commented on #370
@ldeveloperl1985 tested that it is possible to pass any JWT with None alg as pushed claims while getting RPT.

I offer to use Lua based configuration approach similar to our custom header, but with some specific.

My first design was as below:
we define some records, every record has `name` and `value_lua_exp`

But after some reflection, I offer one single `pushed_claims_lua_exp`.
We may populate

[2019-12-20 10:16] altexy commented on #370
@ldeveloperl1985 I'm implementing this issue, hope it will be ready on Monday

[2019-12-24 14:38] #370 closed

[2019-12-27 07:47] altexy opened #407 "OpenId Connect user sessions with server side storage"
At the moment we store all user sessions data in a cookie.
This approach has some disadvantages:
- a cookie may be very large
- a cookie contains sensitive user data and maybe potentially compromised

Our test suite shows that cookie size may be very large, we had to increase nginx header buffers https://github.com/GluuFederation/gluu-gateway/commit/7bda29601a8c14ab5a8c1a2dcd4bb6c84e946d8b

The be

[2019-12-30 07:13] ldeveloperl1985 commented on #407
Agreed :+1:

[2020-01-03 10:08] altexy commented on #397
@ldeveloperl1985 we did decompose GG git repo into 3 repositories.
Also, the directory structure was changed, at least in GG repo.

IMO we need to update our Debian and RPM packages to reflect new layout.

[2020-01-03 10:11] ldeveloperl1985 commented on #397
Sure, Once we ready with **4.1** then we will create an issue in `gluu-gateway-setup` repo and make new OS packages.

[2020-01-08 07:36] ldeveloperl1985 opened #408 "Add support for ES algorithm for JWT verification"
Currently, we are using `lua-resty-jwt` which only supports the `RS256, RS384, RS512`. We need to add support for ES algorithms `ES256, ES384, ES512`

[2020-01-08 08:14] altexy commented on #408
Actually we use our fork of `lua-resty-jwt` with added features below:
- support of RS384, RS512 algorithms
- support signing/verification by digital public key (avoid converting from  text PEM format upon every new JWT)

Here is some background #273

Adding ESXXX support should be possible because now we use Kong 1.3 with OpenSSL 1.1

[2020-01-14 16:22] yuriyz opened #410 "Add spontaneous scopes support to GG"
GG should be able to allow register regexp for resource. It should allow dynamically map path to scopes.

Example:
[code]

RS (GG) protects path with scopes. For this use case RS (GG) registers resource (resource_users) with path /users and scope /users/{} (oxd /uma-rs-protect). On GS (oxauth) we map policy to /users/{}.

During ticket registration GG should register explicit scope, e.g. `/user/1`

[2020-01-16 08:20] ldeveloperl1985 opened #411 "One bug in gluu-metrics plugin"
![Clipboard - January 13, 2020 5_20 PM](https://user-images.githubusercontent.com/2329776/72506008-0e3eb900-3867-11ea-858f-bcd60612da6a.png)

[code]

[2020-01-16 11:15] #411 closed

[2020-01-17 07:54] altexy opened #413 "Rotate Kong logs"

[2020-01-20 14:49] altexy commented on #413
I have updated the description, Docker related particularly.

So this issue is about integrating the logrotate into our OS packages.

We may install logrotate and configure log rotation for Kong by default or on user request.

[2020-01-21 08:16] #342 closed

[2020-01-22 09:49] altexy commented on #410
IMO we need to a way to capture a wildcard/regexp element from the path.
The simplest way is to use numbered captures, for example:
Protected path `/user/?/??` , contains 2 variable elements, so has 2 captures.
Real request path `/user/123abc/balance/history`.
First capture returns `123abc`.
Second - `balance/history`

We may use some placeholders within scope definition, say `{1}`
IMO it would be

[2020-01-22 12:08] yuriyz commented on #410
Do you mean call to oxd ? Can you give example ?

There is additional `scopes` array parameter added in 4.2. It's already available but I can give link to docs because it's not picked up.  See https://github.com/GluuFederation/oxd/blob/master/oxd-server/src/main/resources/swagger.yaml#L1296

@shmorri would you please pick up 4.2 docs?

[2020-01-22 12:30] yuriyz commented on #410
@altexy there is one gap. Right now it's not possible to register client as spontaneous in oxd. @duttarnab is working on it. https://github.com/GluuFederation/oxd/issues/409

[2020-01-22 14:10] duttarnab commented on #410
Hi @altexy, I have completed and committed `point# 1` of ticket: https://github.com/GluuFederation/oxd/issues/409 in the `master` branch of oxd.
Now you can register the client as spontaneous in oxd.

Built available at : https://ox.gluu.org/maven/org/gluu/oxd-server/4.2.0-SNAPSHOT/

[2020-01-23 12:04] altexy commented on #410
The example:
1. Client register spontaneous scope  with regexp:
 `^/user/[^/]+$` - slash not escaped
 `^\/user\/[^\/]+$` - slash escaped
Which one is correct? But it wouldn't a part of GG workflow.

@yuriyz
UMA clients should be aware of the required spontaneous  scopes.
Is it useful? In order to access a protected (by UMA) resource client must know about details in advance.
IMO it would be more i

[2020-01-23 12:31] altexy commented on #413
1. install logrotate by package manager, for example `apt-get install logrotate`
2. By default logrotae is configured to run daily - it is ok for us.
3. Create Kong logrotate config, `/etc/logrotate.d/kong`, example content:
[code]

Make sure that Kong logs location is configured properly - this line `/usr/local/kong/logs/*.log`

[2020-01-23 12:37] ldeveloperl1985 commented on #413
Thank you @altexy .

[2020-01-23 15:11] altexy commented on #410
@yuriyz I have looked at the latest docs about UMA spontaneous scopes.
I see that for UMA use case a client doesn't need to specify spontaneous scopes during registration.
The spontaneous scope is attached to a resource.
So, sorry for the noise. All looks ok.

[2020-01-23 15:26] altexy commented on #410
@yuriyz how does GS distinguish static vs spontaneous scopes for a resource?

[2020-01-23 18:21] yuriyz commented on #410
It's distinguished by scopeType (with value spontaneous).

I guess we have to escape it but maybe there is possibility to trick oxd jackson mapper. Can you open improvement ticket on oxd and assign to @duttarnab on 4.2 milestone ?

[2020-01-24 07:52] altexy commented on #410
How I can specify the type of scope while calling `/uma-rs-protect` endpoint?

IMO it should be transparent for oxd, because oxd doesn't consume regexp, it just delivers the scopes (strings). GS consumes regexp.

---

Suppose a client doesn't use oxd and want to access GS directly using OAuth2/OpenId connect/UMA specs. Is it possible to request `allow_spontaneous_scopes` and `spontaneous_scopes` u

[2020-01-24 08:37] yuriyz commented on #410
Why do you need to specify type ? It's internals of GS, GG shouldn't care about it. Just pass scope as before.

Yes.

Right, GS expects correct and valid regular expression.

[2020-01-24 08:41] yuriyz commented on #410
@duttarnab Aletexy is right, example in swagger.yaml is wrong. Can you correct it?

[2020-01-24 08:49] altexy commented on #410
Hm, it is still not clear for me.

Suppose I have 2 resources, for the first one I want to require a fixed scope, say `manager.edit`.
For a second I want spontaneous scope and specify `^/user/.+$`.
I protect both resources by `/uma-rs-protect`, passing above scopes.

How GS distinguish that first scope is fixed and second is spontaneous (need to regexp match)?
Shall a UMA client register `^/user/.

[2020-01-24 11:34] yuriyz commented on #410
GS will try to match it both as normal and as spontaneous, so no need to specify type. Also for UMA case no need to register scope for client, it's required for resource. However in Connect case it is required to register spontaneous scope for client (because we don't have UMA Resource in Connect case).

[2020-01-24 15:14] altexy commented on #410
OK. Not optimal IMO approach, but still workable. Regexp usually starts with `^` and near to zero chances that we would have fixed scope started with the same char. Otherwise, it may create some vagueness.

Make sense.

[2020-01-26 06:01] duttarnab commented on #410
@altexy, we have corrected example in swagger.yml.

ticket: https://github.com/GluuFederation/oxd/issues/409 is completed and checked in to master branch of oxd.

[2020-01-27 14:09] altexy opened #414 "Add spontaneous scopes support to gluu-oauth-pep"
Root ticket #410

Here we should be able to specify a spontaneous scope(s) within our scope expressions.
We should match the particular scope of a token against regexp.

IMO, we may use `^` char at the beginning of scope as regexp mark.

[2020-01-27 14:36] altexy commented on #410
This task should be decomposed into 2 issues, because the workflows are very different:
1. Add support spontaneous scopes for gluu-oauth-pep
2. Add support spontaneous scopes for gluu-uma-pep

[2020-01-27 14:48] altexy opened #415 "Add spontaneous scopes support to gluu-uma-pep"
Root ticket #410

The flow:
1. The resource should be protected on GS (by `/uma-rs-protect`) with some scopes with regexp instead of fixed scopes. For example, protected path `/user/?/??`, scope `^user:.+$`
See discussion in Item 3 about spontaneous scopes notation in UI, gluu-uma-pep config and for `/uma-rs-protect`.

2. RP requests /users/2/command on RS (GG).

3. GG matches the path/method, see

[2020-01-27 14:49] altexy commented on #410
Close this in favor of #414 and #415

[2020-01-27 14:49] #410 closed

[2020-01-27 15:24] yuriyz commented on #415
Step 5 should be corrected. Permission is granted during RPT authorization (step 4), thus policy is invoked at RPT authorization. At step 5 we don't invoke policy and also don't check spontaneous scope, at step 5 we check fixed/static scope of RPT which is already granted at step 4 (match requested scope to RPT permissions scopes).

Otherwise looks good.

[2020-01-27 15:25] altexy commented on #415
@yuriyz thanks

[2020-01-27 15:29] altexy commented on #414
We should use the same path captures as in #415 to match path and scopes but on GG side.

So we would be able not only check that scope match some regexp, but also match the path.

IMO we should use the same {}, {1},... {n} notation to include the captured from the path.
The similar notation for both plugins is a good approach.

[2020-01-29 13:53] altexy opened #416 "Bump Kong to 1.5.0"
Alexander Altshuler gluu staff 13:27
Hi, Kong recently silently released Kong Gateway 1.5.0 and 2.0.0. https://github.com/Kong/kong/blob/master/CHANGELOG.md
We use 1.3.0 which is half year old.
We couldn’t use 1.4.x because of critical bug in db-less declarative config (reported by me).
Now the issue is fixed and included in 1.5.0 (and of course in 2.0.0).

Release 2.0 is major change with new fea

[2020-01-29 18:28] #416 closed

[2020-01-30 12:03] ldeveloperl1985 opened #418 "resty/hmac.lua throwing error in kong 1.5"
[code]

[2020-01-30 12:20] altexy commented on #418
@ldeveloperl1985 can you provide steps to reproduce?
I don't see such error in gluu-oauth-auth test.
But, strange, again see
[code]

[2020-01-30 12:22] altexy commented on #418
@ldeveloperl1985
OK, I see in rocket chat that it is on local and server installation.
Which OpenSSL version do you have locally on both systems?

[2020-01-30 12:24] ldeveloperl1985 commented on #418
In my local
[code]
------------------------------------------------------
On Server
[code]

[2020-01-30 12:25] ldeveloperl1985 commented on #418
we are using **kong 1.5.3**, is it ok?

[2020-01-30 13:03] altexy commented on #418
Kong 1.5.0 was released some days ago.
Don't know anything about Kong 1.5.3

Where do you get it?

[2020-01-30 13:05] ldeveloperl1985 commented on #418
our package team found this version. if you are not ok then we can request to build a package with kong 1.5.0.
@nikdavnik could you please share the kong 1.5.3, download link?

[2020-01-30 13:07] altexy commented on #418
I believe the latest Kong requires OpenSSL 1.1.1

[2020-01-30 13:09] ldeveloperl1985 commented on #418
Yes, we have OpenSSL 1.1.1. on the server but getting the same problem in the server also.
[code]

[2020-01-30 13:09] nikdavnik commented on #418
link for ubuntu18 kong 1.5.3
https://bintray.com/kong/kong-deb/download_file?file_path=kong-1.5.3.bionic.amd64.deb

[2020-01-30 13:17] altexy commented on #418
Yes, I see Kong 1.5.3 release, but it looks very strange because I don't see  1.5.3 version  here - https://github.com/Kong/kong/blob/master/CHANGELOG.md and on Dockerhub https://hub.docker.com/_/kong.

Let's try with Kong 1.5.0

[2020-01-30 13:21] altexy commented on #418
And most important why 1.5.1 and 1.5.2 are skipped?

[2020-01-30 13:30] ldeveloperl1985 commented on #418
Ok, let's try with Kong 1.5.0

[2020-01-30 14:47] altexy commented on #418
BTW I see the error with Kong 2.0.0, so we will need to deal with it soon very likely.

[2020-02-03 07:19] ldeveloperl1985 commented on #418
@altexy  Tested new builds with Kong 1.5.0. It is working in Ub18 but getting same problem in Ub16.
Do you have any solution or do we need to revert back to Kong 1.3.0?

[2020-02-03 07:36] altexy commented on #418
@ldeveloperl1985 I spent some time, but still don't understand the reason.
We may revert if we need GG 4.1 asap.

[2020-02-03 08:20] ldeveloperl1985 commented on #418
I think we need to revert back and use kong 1.3.
What do you think @nynymike ?

[2020-02-03 14:39] altexy commented on #418
@ldeveloperl1985 @nynymike
I have some progress here, let me some time, please.

[2020-02-03 16:16] altexy commented on #418
@ldeveloperl1985 can you, please, test with the branch `kong_2.0`?

The Kong 1.5 requires near to the same changes as 2.0, so I bumped version to the latest Kong.

[2020-02-04 07:06] ldeveloperl1985 commented on #418
@altexy  failed to clone submodule `lua-resty-hmac`
[code]

[2020-02-04 08:50] altexy commented on #418
@ldeveloperl1985 I have fixed git submodule error.
The history of `kong_2.0` branch was fixed.
Keep in mind - after checkout `kong_2.0` branch you will possibly need to resync submodules:
[code]

[2020-02-04 10:28] altexy opened #419 "Move our forks under GluuFederation"
Now we use 2 git repo forks  with our fixes:
lua-resty-jwt (forked from https://github.com/cdbattags/lua-resty-jwt/ to https://github.com/altexy/lua-resty-jwt)

lua-resty-hmac (froked from https://github.com/jkeys089/lua-resty-hmac to https://github.com/altexy/lua-resty-hmac)

### lua-resty-jwt

- some new enc algorithms added by us (RS386, ES* - coming soon)
- make possible to use digital key (av

[2020-02-05 06:28] ldeveloperl1985 commented on #418
@altexy i've check services, routes and plugins configuration with Konga UI and it is working good so could you please make a PR and let's merge it into version_4.1

[2020-02-05 06:55] altexy commented on #418
@ldeveloperl1985 Great! Will do it immediately

[2020-02-05 08:27] #418 closed

[2020-02-05 10:03] ldeveloperl1985 commented on #398
https://github.com/GluuFederation/gluu-gateway/issues/416

[2020-02-05 10:03] #398 closed

[2020-02-06 08:04] ldeveloperl1985 opened #421 "gluu-metrics returning wrong metrics sometimes"
`/gluu-metrics` endpoint working weird. it is returning the correct metrics sometimes and wrong metrics sometimes. I've tried to reproduce it in our docker suit but not getting success but on dev1 machine, it is occurring.

Please check below video
https://dropfiles.org/lxuQlGU4

Environment:
New GG 4.1 with Kong 2.0.0

[2020-02-12 09:35] ldeveloperl1985 opened #423 "/?? reg expression should not have to add / at last"
Current behavior:
if registered the path is `/test/??` then when we request the user must have to request with `/` at last i.e. `/test/` if miss `/` then gg will not apply the rules

Expected behavior:
if a registered path is `/test/??` then it should have to apply the rules for request `/test` as well as for `/test/`, `/test/123`, etc.

Rocket Chat Mike:
[code]

[2020-02-12 12:12] ldeveloperl1985 opened #424 "Sometime Getting 400 from kong"
Reproduce problem:
1. configured oidc(with 2FA) + uma plugin
2. request to proxy
3. request for uma
4. request for 2fa OTP
5. once you get back to kong, you will face a problem

Please check logs, in error.log there is nothing but in access.log, there is 400. I am facing this issue in my local, try to reproduce it on dev1 but not getting success yet. it is working well on dev1. It is only occurrin

[2020-02-13 14:07] altexy commented on #424
@ldeveloperl1985 400 HTTP code means Bad request.
Nginx core blocks it at the very early state, Lua code never sees it.

It would be useful to catch the problem request.
Is it possible?

[2020-02-14 10:03] #423 closed

[2020-02-14 10:05] #421 closed

[2020-02-14 10:08] ldeveloperl1985 commented on #424
@altexy I am testing with only the `GET` HTTP request so in request I think there is no problem. any other idea?

[2020-02-14 14:43] altexy opened #426 "Ensure that `??` pattern in protected path present not more then one time"
Our `path-wildcard-tree` module expects the subj.
If configured paths would contain more - the behavior is undefined.

So we need to check it in 2 places:
- plugins schema validation (this issue)
- in GG-UI GluuFederation/gluu-gateway-ui#22

[2020-02-16 09:23] altexy commented on #424
Just sniff the 400 requests by any tools and post it here.

[2020-02-17 07:34] ldeveloperl1985 commented on #424
Sorry not getting you, I am requesting a protected path in the browser. You can check the above video.

[2020-02-17 09:11] altexy commented on #424
Can you show me the full details of the final HTTP request (on which you have 400 Bad request status code)?

Also I see a lot of HTTP/2.0 requests in access.log.
Do you really test the protected site with HTTP/2.0?

IMO we need to test GG with HTTP/2.0
We didn't spent enough attention to HTTP/2.0

[2020-02-17 09:54] ldeveloperl1985 commented on #424
1. `https://gluu.local.org:9443/payments/` this URL I am requesting in the browser.
1. here is my plugin config
![Screenshot](https://user-images.githubusercontent.com/2329776/74641844-00e35a00-5198-11ea-9b30-4d3a126aacb2.png)
below is oidc plugin config
[code]

If I directly request this `/payments/` endpoint, OTP 2fa happens and I logged in successfully. I am not getting problem when I first hit

[2020-03-10 16:59] nynymike opened #428 "Don't Send Access Token to Upstream API"
Sending an access token is dangerous--you have to really trust the upstream API. In some cases, it would be better if GG uses the access token for security, but does not forward it along to the upstream API.

[2020-03-11 06:46] altexy commented on #428
@nynymike it is fully configurable.
We have `pass_credentials` field with possible values:
- `pass` - pass access token upstream
- `hide` - remove Authorization header
- `phantom_token` - send access token introspection result as JWT (not signed)

The default is `pass`, but we can change it to `hide` if you think it is better.

[2020-03-11 12:56] altexy opened #429 "OpenID-Connect plugin, path with no authentication"
https://support.gluu.org/access-management/8092/fetch-attribute-for-unprotected-pages/

We may sent a set of headers (fully configurable) to upstream server based on user session.

The use case:
1. Path `/app/??` require an acrs
2. Path  `/??` (any others) doesn't require authentication at all
3. Client access root page - no header sent to upstream
4. Client access protected path `/app/anything` -

[2020-03-12 11:18] #294 closed

[2020-03-12 14:00] nynymike commented on #429
Approved, please proceed.

[2020-03-12 15:27] altexy opened #430 "Configure lua-resty-sessions parameters"
We store OpenID Connect user session info in a cookie.
It may be big enough to produce an error on some HTTP servers.
Our GG nginx is specially prepared for big headers.

IMO it would be more correct to not send our cookie header upstream.

@nynymike @ldeveloperl1985 - please post your feedback.

[2020-03-12 16:10] nynymike commented on #430
Agreed. IMHO, cookie should contain only session reference identifier, not values.

[2020-03-13 07:13] altexy commented on #430
@nynymike we may make it configurable very simple, because library allows the next chioces:
- store session data in cookie
- in cookie only id, store data in nginx storage, work well for single node GG deployment
- in cookie only id, store data in Redis.

The decision would be GG admin - does he want small cookie for the price of supporting Redis cluster for GG cluster.

[2020-03-13 13:40] nynymike commented on #430
Awesome, I like it.

[2020-03-16 08:24] altexy opened #431 "Resty session encryption for a cluster"
We need to figure out how resty-session secrets are generated in the library.

Possibly for cluster, we will need to define common secret for all nodes.

Also we need to implement a test case to be sure it works.

[2020-03-16 08:45] altexy commented on #431
This may be implemented with #430 because both issues are about resty-session library configuration.

[2020-03-16 08:51] altexy commented on #431
The configuration of resty-session library may be done in 2 ways:
- injecting nginx directives
- explicit configuration on plugin level.

With 4.1 version we may document how to do the configuration by injecting nginx directives.
resty-sessions settings would be global for all plugins.

Not sure what is better - global or per plugin resty-session configuration.

[2020-03-16 09:00] altexy commented on #431
And of course, we need to test injecting directives approach first, preferably we should add a test case.

[2020-03-16 09:48] ldeveloperl1985 opened #432 "Unexpected error and redirection"
https://support.gluu.org/outages/8114/invalidate-gluu-gateway-session-when-gluu-server-is-down/#at57977

### Case 1:
step to reproduce:
ser `max_id_token_age - 1 hour` and `max_id_token_auth_age - 1 min` in OIDC plugin.

After this configuration, GG throwing `unexpected error`.

### Case 2:
`max_id_token_age - 1 min` and `max_id_token_auth_age - 1 min`

After this configuration, GG session out aft

[2020-03-17 08:07] #429 closed

[2020-03-17 09:34] altexy commented on #431
this issue has been cloase in favor of #430

[2020-03-17 09:34] #431 closed

[2020-03-17 09:35] altexy commented on #430
It turned out that removing only our session cookie is not trivial.
We need to get all cookie header (as table in Lua) interate thru all and remove only our cookies.
In order to distinguish our cookie we may define our cookie name, for example, `gluu-oidc-session`.
It may be done in Lua code with low efforts.

But cookie filtering, as explained above, is expensive operation which we need to perfor

[2020-03-17 09:36] altexy commented on #430
The configuration of resty-session library may be done in 2 ways:
- injecting nginx directives
- explicit configuration on plugin level.

With 4.1 version we may document how to do the configuration by injecting nginx directives.
resty-sessions settings would be global for all plugins.

Not sure what is better - global or per plugin resty-session configuration.

We need to test injecting directive

[2020-03-19 11:10] ldeveloperl1985 commented on #432
I am able to reproduce the first case 1 on test server. @altexy please check the log file.
[error.log](https://github.com/GluuFederation/gluu-gateway/files/4354101/error.log)
[access.log](https://github.com/GluuFederation/gluu-gateway/files/4354102/access.log)

[2020-03-19 13:07] altexy commented on #430
I have added a test case which shows that injecting lua-resty-sessions parameters in proxy's server nginx block works.
@ldeveloperl1985  We need to add a docs about it somehere.

The topic:
1. `session_secret` for cluster
2. Session storage configuration. We may refer to the https://github.com/bungle/lua-resty-session#pluggable-storage-adapters

[2020-03-19 13:18] altexy commented on #432
I will check this asap

[2020-03-24 13:27] ldeveloperl1985 commented on #430
Done and docs upldated https://github.com/GluuFederation/docs-gg-prod/blob/4.2/docs/source/plugin/gluu-openid-connect-uma-pep.md#session-configuration

[2020-03-24 13:27] #430 closed

[2020-03-24 14:24] altexy commented on #430
Possible per-plugin lua-resty-session configuration we put on hold.
Let's see if there will be requests from customers for such a fine-tuning.

[2020-03-25 07:23] ldeveloperl1985 commented on #428
@nynymike it is configurable so can we close this issue?

[2020-03-30 15:23] altexy commented on #432
Hi @ldeveloperl1985 , I have pushed the branch `432_openidc_unexpected_error`.

During long evolution, my plugin code becomes very difficult to support and was looked as spaghetti code :-(

I have fully refactored the plugin code, encapsulate user session details in the `openid_connect_session_data` Lua class.
IMO the code now is more readable and simpler to understand and support.

Our test suite

[2020-03-31 07:41] ldeveloperl1985 commented on #432
@altexy  getting error in our test suit
[code]

i think you forgot to push `oxd-model9.lua`.

[2020-03-31 08:21] altexy commented on #432
@ldeveloperl1985 sorry, fixed, please retake the branch, I have changed the git history

[2020-03-31 08:51] ldeveloperl1985 commented on #432
@altexy  Facing one issue, could you please take a look?
[code]

[2020-03-31 12:30] altexy commented on #432
@ldeveloperl1985 I didn't touch `gluu-oauth-auth` code and tests. It works on my side.
Maybe it is timing issue? It may be on slow laptop.
Is it 100% reproducible?

[2020-03-31 12:35] ldeveloperl1985 commented on #432
NO, it is seems like my machine problem container issue`: postgress container failed to start`. let me know if you have any workaround on this issue

[2020-03-31 13:09] altexy commented on #432
@ldeveloperl1985 try https://gist.github.com/bastman/5b57ddb3c11942094f8d0a97d461b430

[2020-04-01 07:43] ldeveloperl1985 commented on #432
@altexy I fixed the problem by adding `-e POSTGRES_HOST_AUTH_METHOD=trust` this config in all postgres docker command in our docker suit `kong_util.lua`. because it need password. I have no idea why this is started happening now before somedays it is working well. I think you may reproduce it by deleting postgres image and try with fresh.

[2020-04-01 09:37] ldeveloperl1985 commented on #432
Can you, please test Case 1 issue above, as well all main scenarios.

@altexy I've tested with our test server and all the things working well

[2020-04-01 13:24] altexy commented on #432
@ldeveloperl1985 Can you, please, add this to the branch?
Then I will create PR and send it to you for review.

[2020-04-01 13:25] altexy commented on #432
Great! Thank you very much.

[2020-04-01 14:12] ldeveloperl1985 commented on #432
Then I will create PR and send it to you for review.

Done @altexy

[2020-04-02 09:34] #432 closed

[2020-04-03 14:32] shmorri commented on #419
Both are now transferred. [Here](https://github.com/GluuFederation/lua-resty-jwt) and [here](https://github.com/GluuFederation/lua-resty-hmac)

[2020-04-03 15:15] altexy commented on #419
Now we need to point to these git repos in our submodules

[2020-04-06 12:48] #419 closed

[2020-04-08 13:15] ldeveloperl1985 commented on #415
@altexy could you please provide some more examples?. Also how to deal with multiple dynamic scope?

| Path register for GG and GS | GS PCRE scope | GG  scope |
|----------------------------------------|------------------------|----------------|
|/posts/?|-|-|
|/users/?/image/?|-|-|
|/comments/??|-|-|
|/products/??/orders/??|-|-|
|/account|-|-|

[2020-04-08 14:02] altexy commented on #415
@ldeveloperl1985 maybe this page would help https://github.com/GluuFederation/gluu-gateway/wiki/Spontaneous-scopes

[2020-04-08 18:04] altexy commented on #415
@ldeveloperl1985 Mike is not sure should we invest our efforts for this feature.
Let's concentrate on #414

[2020-04-09 06:22] ldeveloperl1985 commented on #415
Ok Sure :+1:

[2020-04-20 07:27] #426 closed

[2020-04-20 13:06] #428 closed

[2020-04-21 07:56] ldeveloperl1985 commented on #407
Done, Covered it in https://github.com/GluuFederation/gluu-gateway/issues/430

[2020-04-21 07:56] #407 closed

[2020-04-23 08:15] ldeveloperl1985 commented on #414
Done and docs updated

https://github.com/GluuFederation/docs-gg-prod/blob/4.2/docs/source/plugin/common-features.md#spontaneous-scope

https://github.com/GluuFederation/docs-gg-prod/blob/4.2/docs/source/admin-guide/consumer-config.md#make-oauth-client

[2020-04-23 08:15] #414 closed

[2020-05-08 13:17] altexy opened #441 "Handle POST request after OpenID Connect authentication and redirects"
We should backport this issue to 4.0 and add it to a new version.

This feature should be optional, enabled per plugin.
In order to implement this feature we need:
- save not only original_url, but also method, body and Content-Type
- instead of internal redirect which we use now we should change url/methods/body/header of current request to upstream

[2020-05-08 19:12] altexy commented on #441
Hi @ldeveloperl1985 , not sure how to proceed with backporting this issue to 4.0
Please, review the code, if no objection - we will provide a patch to Sobhan Panda.
PS: Mike asked to implement this feature yesterday.

[2020-05-08 19:17] altexy commented on #441
To be clear: commits above are for 4.0 the branch `441_restore_original_auth_params`, forked from `backport_refresh_pending_logic`.

This feature shall be implemented in 4.3 also using this ticket.

[2020-05-11 06:33] ldeveloperl1985 commented on #441
@altexy I reviewed the code. It is good, also test cases are passing. But as we add one more config property so for that I need to change the UI design also. Give me time for that. I'll push my UI changes in this same branch.

@altexy  Why not in GG 4.2?

[2020-05-11 08:43] altexy commented on #441
@ldeveloperl1985

I think we freeze 4.2, isn't it?

[2020-05-11 08:49] ldeveloperl1985 commented on #441
Hmm yes but let's check with @shmorri . If we have time then we should have to add it in GG 4.2. so @shmorri  when we are going to release GG 4.2?

[2020-05-11 14:32] shmorri commented on #441
We're planning to release 4.2 on June 30th. The code freeze is scheduled for May 30th.

[2020-05-12 06:08] ldeveloperl1985 commented on #441
thanks @shmorri so @altexy we can proceed now.

[2020-05-12 11:00] ldeveloperl1985 commented on #441
Done https://github.com/GluuFederation/gluu-gateway/pull/442

[2020-05-12 11:00] #441 closed

[2020-05-13 15:44] altexy commented on #424
@ldeveloperl1985 I spent some time debugging the issue.
IMO 400 error is produced not by GG but by upstream service.
Very likely it is related to huge cookie header we have after OTP auth.

IMO we need to hide our session cookie from upstream services, I did a try but no success so far.

Can you, please, tell me how to check logs files of the upstream service used for `/payments` path?
I believe i

[2020-05-13 16:49] ldeveloperl1985 commented on #424
you can check logs by `pm2 logs index` but I have just checked there is not any crash report at upstream app.

[2020-05-14 07:32] ldeveloperl1985 commented on #424
@altexy  I am getting this in `/settings` in UMA claim gathering
[code]

Have you changed anything on gg-test?

[2020-05-14 07:48] altexy commented on #424
@ldeveloperl1985 yes, I have the proof that 400 responses are generated by upstream service.
I have hidden our cookie and `/payments` now works, but it also require changes in gluu-uma-pep plugins, because it also uses cookie. I have made 2 separate cookies for both plugins, but https://github.com/bungle/lua-resty-session#sessionhide works not as expected - it removes all cookies. When I try to re

[2020-05-14 18:46] altexy commented on #424
@ldeveloperl1985 I have found the problem in lua-resty-session.

When we hide (from upstream) one session other sessions became not accessible.
I have implemented the workaround, but it requires a fix to lua-resty-session library.

I have forked the lib and implemented the fix.
It is not the final version - I need to add a test to ensure that up[stream does see session cookie.

[2020-05-21 16:51] altexy commented on #424
I tried to push my fixes to upstream lua-resty-session, but with now success so far.
https://github.com/bungle/lua-resty-session/pull/100
If I will not get any feedback soon - we will need to fork the repo under GluuFederation umbrella.

[2020-05-21 17:04] bungle commented on #424
@altexy, I'll check it tomorrow, and push `3.5`. Thank you.

[2020-05-21 17:14] altexy commented on #424
Great!

[2020-05-22 10:53] bungle commented on #424
@altexy / @ldeveloperl1985,

The `lua-resty-session` `v3.5` has now been released (https://github.com/bungle/lua-resty-session/releases/tag/v3.5). Also available at `LuaRocks` (https://luarocks.org/modules/bungle/lua-resty-session/3.5-1)  and `OPM` (https://opm.openresty.org/package/bungle/lua-resty-session/).

I made some refinements to @altexy's original fix to make the `session:hide` even more

[2020-05-22 15:58] altexy commented on #424
@bungle thank you, the latest lua-resty-session master works for us

[2020-05-25 14:31] ldeveloperl1985 commented on #424
Fixed

[2020-05-25 14:31] #424 closed

[2020-05-27 13:06] altexy opened #444 "Avoid Lua parcing/compilation upon every request, use cache instead"
We use Lua expressions for custom headers and for pushed claims.

We should use a cache with reasonable TTL to avoid per-request overhead.

[2020-05-28 07:44] #444 closed

[2020-06-11 15:46] altexy opened #446 "Team based API visibility and access - high level design"
Originally discussed in https://github.com/GluuFederation/gluu-gateway-ui/issues/27.

The main point is that that the feature should be implemented in GG not in GG-UI.

GG-UI should support it.

[2020-06-12 07:58] ldeveloperl1985 commented on #446
I agree with the `Attach to every entity a tag in form of team:<team_name>`  but @altexy
 same question how can we authorized??? because I can see we have only tag based filter and no custom entity for any protection.

-------------------------------------------------------------------------

I think we can protect kong endpoint with `gluu-oauth-auth` and `gluu-oauth-pep` plugin with scope express

[2020-06-12 14:25] nynymike commented on #446
I think protecting Kong config API's with OAuth makes **a lot** of sense. What we also need is a "developer portal." Some companies are building this as a standalone product. I think we can write a Casa plugin to handle these use cases:
1. Requesting client credentials
2. Requesting OAuth scopes for a client
3. (Admin) Reviewing OAuth scope requests by client
4. (Admin) Approving OAuth scope reque

[2020-06-14 16:53] altexy commented on #446
We may use gluu-oauth-auth plugin for authentication.

IMO we cannot (and shouldn't) use gluu-oauth-pep for authorization, because it is completely path oriented.

We should create specific plugins for this purpose. Let's name it gluu-admin-pep.
IMO this new plugin should do the following:
- check the token for `team:<team_name>` scope. Without such scope, access should be forbidden.
- man-in-the-

[2020-06-15 09:10] ldeveloperl1985 commented on #446
We should create specific plugins for this purpose. Let's name it gluu-admin-pep.

Agree, let's make a new plugin for this.

we may use a superadmin scope for superadmin which is able to see all details as it is.

I think we can add this. we just need one more scope. One for Team and second for Role.

[2020-06-18 08:11] altexy commented on #446
Many Kong entities may have a name.
The name must be unique per Kong cluster.
In order to provide a separate namespace for a team we will have to add `team_<team_name>_` prefix to all names.
It will require name transformation in both directions:
- adding prefix upon by all requests with name included in the path
- strip prefix when retrieving entities information

It is an expensive operation, bu

[2020-06-18 08:18] altexy commented on #446
IMO teams will be completely disjoint sets.

So for foreign key relationship endpoints we may first check the team of root object, then retrieve linked without tag filtering.

[2020-06-18 08:48] ldeveloperl1985 commented on #446
In order to provide a separate namespace for a team we will have to add team_<team_name>_ prefix to all names.

Add prefix to all kong entities name? if yes then why we need to do this? because kong is already validating unique name validation for entities.

[2020-06-18 09:38] altexy commented on #446
Members of different teams will not understand why this name is not allowed.
As I understand the core design - team members should be able to view only its own team's entities.

[2020-06-18 09:45] ldeveloperl1985 commented on #446
Ok Agree

Agree

[2020-06-18 09:46] altexy commented on #446
IMO a deployment should be predictable. Member of a team should be able to write a script with hardcoded names without headache of finding unique names in case of conflicts with others teams.

If we recommend a prefix - we allow bad behaved another team member to influence our team.

[2020-06-22 14:51] altexy commented on #318
IMO the main question is authorization, we should know which scopes are required for different endpoints.
I see 2 possible usages:

1. Import the swagger definition file into gluu-oauth-pep plugin config. This should create entries for every endpoints. Then an admin enter required scopes for every endpoints manually.
2. Support OpenAPI 3.0 where scopes may be provided as swagger yml file.

[2020-06-26 07:26] ldeveloperl1985 opened #447 "Wrong plugin name in schema"
https://github.com/GluuFederation/gluu-gateway/blob/version_4.2.0/lib/kong/plugins/gluu-oauth-pep/schema.lua#L6

Currently in `gluu-oauth-pep` plugin we have wrong name `gluu-uma-pep` in `schema.lua`

[2020-06-26 12:15] #447 closed

[2020-06-26 15:37] altexy commented on #446
This feature has been put on hold.

[2020-08-04 15:34] nynymike commented on #446
We are not going to implement this feature.

[2020-08-04 15:34] #446 closed

[2020-08-04 15:34] nynymike commented on #318
Not going to implement this.

[2020-08-04 15:34] #318 closed

[2020-08-04 15:36] nynymike commented on #415
Waiting for demand to materialize

[2020-08-04 15:36] #415 closed

[2020-08-05 19:01] mzico opened #449 "GG 4.0 setup not prompting for local oxd-server installation"
GG setup script should prompt for `Install OXD Server?` according to the doc.
But that's not available during installation. Screenshot attached.

![Capture](https://user-images.githubusercontent.com/7156097/89452989-281cec00-d724-11ea-8f6b-579d39c518d3.PNG)

[2020-08-06 04:54] duttarnab commented on #449
I have installed gg-4.0 on U18 and found that `Install OXD Server?` question is prompted. (Full log attached)

[code]

[2020-08-06 05:00] duttarnab commented on #449
Raised https://github.com/GluuFederation/docs-gg-prod/pull/30 to include `gg version` in docs in installation command.
`apt install gluu-gateway=4.0~*`

[2020-08-06 05:08] mzico commented on #449
@duttarnab : can you please test with CentOS7?

[2020-08-06 05:28] duttarnab commented on #449
I found it working in centos7

I believe the version should be added in gg install command

yum install gluu-gateway-4.0

[2020-08-07 06:04] #449 closed

[2020-08-13 08:23] ldeveloperl1985 opened #450 "Fork rucciva/json-logic-lua into gluu federation"

[2020-12-08 15:29] duttarnab opened #452 "Add `pct` request parameter in `claims-gathering-url`"
- Basically, AS stores claims in PCT when RPT generation is successful.
- So Gluu-Gateway will need to pass this pre-generated PCT as a parameter with `claims-gathering-url` (from next time onwards).
- The Claims-gathering script on AS will try to read claims from PCT. If the claims are found then it will skip the re-entering of claims after login.

We have modified the claims-gathering script so

[2020-12-18 16:29] duttarnab commented on #452
Done in 4.2.2

[2020-12-18 16:29] #452 closed

[2021-04-21 23:59] mannharleen opened #453 "Gluu Gateway EOL?"
Why are we ending dev efforts on Gluu Gateway? Is there a better alternative?

[2021-04-23 18:51] nynymike commented on #453
There was not a lot of uptake. It's all open source if anyone wants to take it over.

[2021-04-23 18:51] #453 closed